<h1 class="main-header">Get jobs in...</h1>
<ul>
  <li><%= link_to "Austin, TX", jobs_path(:city=>"Austin") %></li>
  <li><%= link_to "Boston, MA", jobs_path(:city=>"Boston") %></li>
  <li><%= link_to "Denver/Boulder, CO", jobs_path(:city=>"Colorado") %></li>
  <li><%= link_to "Los Angeles, CA", jobs_path(:city=>"LA") %></li>
  <li><%= link_to "New York, NY", jobs_path(:city=>"NYC") %></li>
  <%#= link_to "GIVE ME ALL THE JOBS IN ALL THE PLACES", jobs_path(:city=>"Austin") %>
</ul>