<h1 class="main-header">Get jobs in...</h1>
<div class="row" id="homepage-row">

  <div class="col-sm-6 col-md-4 homepage-card">
    <%= link_to image_tag("/austin.jpg", :alt => "austin", :class=> "img-circle"), jobs_path(:city=>"Austin") %><br>
    <%= link_to "Austin, TX", jobs_path(:city=>"Austin"), :class=> "city-link" %>
  </div>

  <div class="col-sm-6 col-md-4 homepage-card">
    <%= link_to image_tag("/boston.jpg", :alt => "boston", :class=> "img-circle"), jobs_path(:city=>"Boston") %><br>    
    <%= link_to "Boston, MA", jobs_path(:city=>"Boston"), :class=> "city-link" %>
  </div>

  <div class="col-sm-6 col-md-4 homepage-card">
    <%= link_to image_tag("/Colorado.jpg", :alt => "Colorado", :class=> "img-circle"), jobs_path(:city=>"Colorado") %><br>    
    <%= link_to "Denver/Boulder, CO", jobs_path(:city=>"Colorado"), :class=> "city-link" %>
  </div>

  <div class="col-sm-6 col-md-4 homepage-card">
    <%= link_to image_tag("/LA.jpg", :alt => "LA", :class=> "img-circle"), jobs_path(:city=>"LA") %><br>    
    <%= link_to "Los Angeles, CA", jobs_path(:city=>"LA"), :class=> "city-link" %>
  </div>

  <div class="col-sm-6 col-md-4 homepage-card">
    <%= link_to image_tag("/NYC.jpg", :alt => "NYC", :class=> "img-circle"), jobs_path(:city=>"NYC") %><br>    
    <%= link_to "New York, NY", jobs_path(:city=>"NYC"), :class=> "city-link" %>
  </div>

<div> 