<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h1>
        <%= gravatar_for @user %>
        <%= @user.first_name.upcase %> <%= @user.last_name.upcase %>
      </h1>
    </section>
  </aside>
  <div class="row profile-jobs-list">
    <h2>Your saved jobs</h2><br><br>
    <% @saved_jobs.each do |job| %>
      <%= link_to job.link, :target => "_blank" do %>
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <div class="save-hide-buttons profile-save-hide">
              <%= button_to "Delete" %>
            </div>
            <div class= "card-content">
              <h3 class="card-title"><%= job.title%></h3>
              <h4 class='job-location'> <%= job.location %> </h4>
              <div class="company-info">
                <span><%=job.company%></span>
                <span class="bars">||</span>
                <span>
                <% if job.post_time.empty? %>
                  Featured
                <%else%>
                  <%=job.post_time%>
                <%end%>
                </span>
              </div>
              <div class="post-description">
                <em><%=job.description%></em>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <%end%>
</div>
</div>