<div class="jobs-list-header">
  <div class="city-img"><%= image_tag("/#{@city}.jpg", :alt => "#{@city}", :class=> "img-circle") %></div>
  <div class="jobs-list-header-title"><h1>Jobs in <%=@city%></h1></div>
</div>
<div class="row">
  <%@posts.each do |post| %>
    <div class="col-sm-6 col-md-4">
        <div class="card">
          <h3 class="card-title"><%= link_to post["title"], post["link"], :target => "_blank" %></h3>
          <div class="company-info">
              <%=post["company"]%> <span class="bars">||</span>
              <% if post["post-time"].empty? %>
                Featured
              <%else%>
                <%=post["post-time"]%>
              <%end%>
          </div>
          <div class="post-description">
            <em><%=post["description"]%></em>
          </div>
        </div>
    </div>
  <%end%>
</div>
